In [8]:
import pandas as pd

ranges = pd.read_csv("Dataset_v2_cleaned_ranges.csv")
imputed = pd.read_csv("Imputed_dataset.csv")
imputed2 = pd.read_csv("Imputed_dataset2.csv")

# Count missing valsdsdsdsdsdsdsds
# print(df.isna().sum())
print(imputed2.isna().sum())

Fish ID                                       2
Species                                       2
Common Name                                  53
Lake Name                                     3
Kingdom                                       2
Phylum                                        2
Class                                         2
Order                                         2
Family                                        2
Genus                                         2
Statues                                       0
FeedingType                                 446
Tmax                                       1333
Wmax                                        960
Lmax                                        607
TempPref_min                                463
TempPref_max                                450
TempRange                                   480
MeanFecundity                              1176
MinFecundity                                  0
MaxFecundity                                  0
Trophic Level Estimate                     1966
Trophic Level                               529
WB_pH_min                                     0
WB_pH_max                                     0
WB_Salinity_min                               0
WB_Salinity_max                               0
WB_Dissolved Oxygen (mg/L)_min                0
WB_Dissolved Oxygen (mg/L)_max                0
WB_Biochemical Oxygen Demand (mg/L)_min       0
WB_Biochemical Oxygen Demand (mg/L)_max       0
WB_Turbidity (NTU)_min                        0
WB_Turbidity (NTU)_max                        0
WB_Temperature_min                            0
WB_Temperature_max                            0
dtype: int64

In [10]:
df = pd.read_csv("Imputed_dataset2.csv")
print(df.shape)

(2342, 35)

In [12]:
col = 'Statues'
print(df[col].value_counts().head())  # Top 10 most frequent unique values

Statues
Invasive       889
Established    592
Reported       308
EN             228
Failed         201
Name: count, dtype: int64