In [18]:
import pandas as pd
import os
print(os.getcwd())

c:\Users\princ\OneDrive\Desktop\RIJAN Files\XGOOA\Standardization

In [19]:
df = pd.read_csv("../Standardization/pinakafinal_final.csv")

In [20]:
df['invasion_risk_score'] = df['status'].map(risk_mapping)

# Check
print(df[['status', 'invasion_risk_score']].value_counts())
print(df['invasion_risk_score'].isna().sum())  # should be 0

status       invasion_risk_score
Invasive     0.9                    889
Established  0.5                    666
Reported     0.2                    336
EN           0.3                    232
Failed       0.1                    201
Extirpated   0.0                     18
Name: count, dtype: int64
0

In [21]:
# 1. Check target column
print("Target missing values:", df['invasion_risk_score'].isna().sum())
print(df['invasion_risk_score'].describe())

# 2. Check unique status values
print("Unique statuses:", df['status'].unique())

# 3. Check numeric features for missing values
print(df.select_dtypes(include='number').isna().sum())

# 4. Check categorical features for missing values
cat_cols = df.select_dtypes(include='object').columns
print(df[cat_cols].isna().sum())

# 5. Quick preview of the dataset
print(df.head())

Target missing values: 0
count    2342.000000
mean        0.550811
std         0.301196
min         0.000000
25%         0.300000
50%         0.500000
75%         0.900000
max         0.900000
Name: invasion_risk_score, dtype: float64
Unique statuses: ['Established' 'Reported' 'Invasive' 'Failed' 'Extirpated' 'EN']
temp_max                  1334
weight_max                 962
length_max                 618
temp_pref_min              468
temp_pref_max              456
fecundity_mean            1177
fecundity_min                0
fecundity_max                0
trophic_level              203
trophic_level_estimate    1993
wb_ph_min                    0
wb_ph_max                    0
wb_salinity_min              0
wb_salinity_max              0
wb_do_min                    0
wb_do_max                    0
wb_bod_min                   0
wb_bod_max                   0
wb_turbidity_min             0
wb_turbidity_max             0
wb_temp_min                  0
wb_temp_max                  0
invasion_risk_score          0
dtype: int64
fish_id            2
species            2
common_name       53
kingdom            2
phylum             2
class              2
order              2
family             2
genus              2
status             0
feeding_type       0
waterbody_name     3
dtype: int64
  fish_id          species   common_name   kingdom    phylum           class  \
0   F0001  Copella arnoldi  Splash tetra  Animalia  Chordata  Actinopterygii
1   F0001  Copella arnoldi  Splash tetra  Animalia  Chordata  Actinopterygii
2   F0001  Copella arnoldi  Splash tetra  Animalia  Chordata  Actinopterygii
3   F0001  Copella arnoldi  Splash tetra  Animalia  Chordata  Actinopterygii
4   F0001  Copella arnoldi  Splash tetra  Animalia  Chordata  Actinopterygii

           order        family    genus       status  ... wb_salinity_max  \
0  Characiformes  Lebiasinidae  Copella  Established  ...             0.0
1  Characiformes  Lebiasinidae  Copella  Established  ...             0.0
2  Characiformes  Lebiasinidae  Copella  Established  ...             0.0
3  Characiformes  Lebiasinidae  Copella  Established  ...             0.0
4  Characiformes  Lebiasinidae  Copella  Established  ...             0.0

   wb_do_min  wb_do_max  wb_bod_min  wb_bod_max  wb_turbidity_min  \
0        5.5        5.5         2.0         2.0               4.0
1        6.0        6.0         3.0         3.0               6.0
2        5.0        5.0         2.0         2.0               3.0
3        5.2        5.2         2.0         2.0               4.0
4        4.5        4.5         4.0         4.0              20.0

   wb_turbidity_max  wb_temp_min  wb_temp_max  invasion_risk_score
0               4.0         27.0         27.0                  0.5
1               6.0         27.0         27.0                  0.5
2               3.0         26.5         26.5                  0.5
3               4.0         27.0         27.0                  0.5
4              20.0         26.0         26.0                  0.5

[5 rows x 35 columns]

In [12]:
df.to_csv("final_dataset.csv", index=False)